@use 'globals/reset';
@use 'globals/typography';
@use 'globals/variables';

@mixin btn-started{
  cursor: pointer;
  font-size: .900rem;
  color: white;
  background-color: variables.$btn-bg-color;
  padding: 0.800rem 3rem;
  border: none;
  border-radius: 60px;
  box-shadow: 0px 0px 25px -10px rgba(15, 14, 14, 0.75);

  &:hover{
    background-color: #fe86d2;
  }
}

@mixin heading{
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
}

@mixin mobile-heading{
  font-size: 1.5rem;
  text-align: center;
  margin: 1.4rem 0;
}

@mixin text-setup{
  font-family: variables.$font-text;
  color: variables.$text-color;
}

@mixin card{
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 25px -10px rgba(15, 14, 14, 0.25);
  margin: 0 4rem 2rem 4rem;
  padding: 3rem 1.5rem 3rem 7rem;
}

@mixin mobile-card{
  margin: 0 2rem 2rem 2rem;
  padding: 2rem 1.5rem 1rem 1.5rem;
}

@mixin footer{
  color: white;
  font-size: .800rem;
  font-family: variables.$font-text;
  padding-left: .900rem;
}

@mixin mobile-view{
  @media only screen and (max-width: 600px){
    @content;
  }
}

/// FIRST SECTION ///

.bg-container{
  background-image: url(/images/bg-hero-desktop.svg);
  background-color: #edfbfe;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 90vh;
  padding: 0 4rem;
  margin-bottom: 5rem;

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0 1.6rem 0;
  
    .logo{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 150px;
    }
  
    .button{
      flex: 0;
      display: flex;
      align-items: center;
  
      .btn{
        background-color: white;
        padding: .500rem 2.5rem;
        border-radius: 50px;
        font-size: .820rem;
        font-weight: 600;
        color: variables.$heading-color;
        box-shadow: 0px 0px 25px -10px rgba(15, 14, 14, 0.65);
        white-space: nowrap;
      }

      .btn:hover{
        color: variables.$text-color;
      }
    }
  }

  .container{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "text image";
    margin: 2rem 0 0 0;

    .text {
      justify-self: start;
      align-self: center;
      grid-area: text;
    }

    h1{
      font-size: 2.8rem;
      margin-bottom: 2rem;
    }

    .first-text{
      font-family: variables.$font-text;
      color: variables.$heading-color;
      margin-bottom: 2rem;
    }

    .btn-started{
      @include btn-started;
    }
    
    .image {
      align-self: center;
      grid-area: image;
    }

    .mockups{
      width: 100%;
    }
  }
}

@include mobile-view{
  .bg-container{
    background-image: url(/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1rem;
    padding-right: 1rem;

    .navbar{
      .logo{
        width: 100px;
      }
  
      .button{
        .btn{
          font-size: .700rem;
          padding: .300rem 1.5rem;
        }
      }
    }
  
    .container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "text"
        "image";
      padding: 0 1rem;
      
      h1{
        font-size: 1.7rem;
        text-align: center;
      }

      .first-text{
        text-align: center;
      }

      .btn-started{
        margin: 0 auto 1.5rem auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}

/// SECOND SECTION ///

.second-container{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "text-zone-1 image-1";
  @include card;

  .text-zone-1{
    align-self: center;
    grid-area: text-zone-1;
    padding-right: 4rem;
  }

  h2{
    @include heading;
  }

  .text-grow{
    @include text-setup;
  }
  
  .image-1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: end;
    align-self: center;
    grid-area: image-1;
  }

  .grow-img{
    width: 80%;
  }
}

@include mobile-view{
  .second-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "image-1"
    "text-zone-1";
    @include mobile-card;

    .image-1{
      justify-content: center;
    }

    .grow-img{
      width: 100%;
    }

    .text-zone-1{
      padding-right: 0;
    }

    h2{
      @include mobile-heading;
    }

    .text-grow{
      text-align: center;
    }
  }
}

/// THIRD SECTION ///

.third-container{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image-2 text-zone-2";
  @include card;

  .image-2 {
    align-self: center;
    grid-area: image-2;
  }

  .flowing-img{
    width: 80%;
  }

  .text-zone-2 {
    align-self: center;
    grid-area: text-zone-2;
  }

  h3{
    @include heading;
  }

  .text-flowing{
    @include text-setup;
  }
}

@include mobile-view{
  .third-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "image-2"
      "text-zone-2";
    @include mobile-card;

    .flowing-img{
      width: 100%;
    }

    h3{
      @include mobile-heading;
      font-size: 1.4rem;
    }

    .text-flowing{
      text-align: center;
    }
  }
}

/// FOURTH SECTION ///

.fourth-container{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "text-zone-3 image-3";
  @include card;
  margin-bottom: 0;
  
  .text-zone-3 {
    align-self: center;
    grid-area: text-zone-3;
  }

  h4{
    @include heading;
  }

  .text-user{
    @include text-setup;
  }

  .image-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: end;
    align-self: center;
    grid-area: image-3;
  }

  .user-img{
    width: 80%;
  }
}

@include mobile-view{
  .fourth-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "image-3"
      "text-zone-3";
    @include mobile-card;

    .user-img{
      width: 100%;
    }

    h4{
      @include mobile-heading;
    }

    .text-user{
      text-align: center;
    }
  }
}

/// FIFTH SECTION ///

.fifth-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 25px -10px rgba(15, 14, 14, 0.25);
  margin: 0 auto 0 auto;
  padding: 2rem 4rem;
  border-radius: 16px;
  width: 500px;
  height: 190px;
  position: relative;
  bottom: -5rem;

  h5{
    font-size: 1.3rem;
    margin-bottom: 1.5rem
  }

  .btn-started-footer{
    @include btn-started;
  }
}

@include mobile-view{
  .fifth-container{
    
  }
}

/// FOOTER SECTION ///

.footer-sec{
  background-color: #00252e;
  padding: 9rem 3rem 4rem 3rem;

  .footer-logo{
    margin-bottom: 1.5rem;
  }

  .footer-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: .500rem;
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .row {
    display: flex;
    padding: 8px;
  }
  
  .lorem{
    @include footer;
    padding-left: 1.2rem;
  }

  .num{
    @include footer;
  }

  .mailing{
    @include footer;
    // padding-left: 0.600rem;
  }

  .link{
    color: white;
    font-size: .800rem;
  }

  .link:hover{
    text-decoration: underline;
  }

  .icon-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
    width: 1rem;
    height: 1rem;
  }

  .icon-footer:hover{
    cursor: pointer;
    color: #fe52c0 !important;
    border: 1px solid #fe52c0;
  }

  .copyright{
    display: flex;
    justify-content: flex-end;
    @include footer;
    margin-right: 1.25rem;
  }
}

